{% extends 'home/navBar.html.twig' %}

{% block title %}Mes adresses - La Broudoute{% endblock %}

{% block content %}
	<h1>Mes adresses</h1>
	<p>vous pouvez modifier vos adresses dans cet espace</p>
	<a href="{{ path('account') }}">Retour</a>
	<hr>
	{% if app.user.addresses|length == 0%}
		<p class="text-center mt-5">
            Vous n'avez pas encore ajouté d'adresses dans votre compte client,
            pour en ajouter une, veuillez <a href="">cliquer ici.</a>
		</p>
    {% else %}
        <div class="row">
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">
                                {{ address.address }},<br>
                                {{ address.postal }} - {{ address.city }} - {{ address.country }}
                            </p>
                            <a href="{{ path('account_address_edit', { 'id' : address.id }) }}">Modifier</a> |
                            <a href="{{ path('account_address_delete', { 'id' : address.id }) }}">Supprimer</a>

                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
	{% endif %}
    <a href="{{ path('account_address_add') }}" class="button-design mt-5">Ajouter une adresse</a>


{% endblock %}

