{% extends 'home/navBar.html.twig' %}

{% block title %}Modifier mon mot de passe - La Broudoute{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1>
	<a href="{{ path('account') }}"> Retour à mon compte.</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% else %}
        {% if notificationRed %}
            <div class="alert alert-danger">{{ notificationRed }}</div>
        {% endif %}
    {% endif %}

    {{ form(form)}}
    <hr>
    <a href="{{ path('account') }}">Retour</a>

{% endblock %}
