{% extends 'home/navBar.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-5 my-auto">
			<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
		</div>
		<div class="col-md-7">
			<h3>
				{{ product.name }}</h3>
			<p>
				{{ product.subtitle }}</p>
			<span class="product-page-price">{{ (product.price /100)| number_format(2, ',', '.') }}
				€</span>
			<hr>
			<p>
				{{ product.description }}
			</p>
			<a href="{{ path('add_to_cart', {'id': product.id }) }}"><button class="button arrow">Ajouter au panier</button></a>
		</div>
	</div>
	<hr class="hr-product">

	<p>Retrouvez les tendances du moment</p>
    <div class="row">
        {% for product in bestProducts %}
            <div class="col-6 col-md-3">
                <div class="product-item text-center">
                    <a href="{{ path('product', {'slug':product.slug }) }}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="products-picture img-fluid img-thumbnail"></a>
                    <h5>{{ product.name }}</h5>
                    <p class="product-price">{{ (product.price / 100) | number_format(2, ',', '.') }}€</p>
                    {# divided by 100 because recorded in float #}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
