{% extends 'home/navBar.html.twig' %}

{% block title %} Récapitulatif de ma commande - la Broudoute {% endblock %}

{% block content %}

    <h2 class="order-summary-title">Récapitulatif de ma commande</h2>
    <p class="order-summary-subtitle">Vérifiez vos informations avant de passer au paiement de votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="order-summary-title"> Mon adresse de livraison</p>
            <div class="order-summary mt-2">
                {{ delivery|raw }}
            </div>
            <p class="order-summary-title">Mon transporteur</p>
            <div class="order-summary">
                {{ carrier.name }}<br>
                {{ carrier.description }}<br>
                {{ (carrier.price / 100)|number_format(2, ',', '.') }} €
            </div>
        </div>
        <div class="col-md-6">
            <p class="order-summary-title">Ma commande</p>
            <div class="order-products-summary">
                {% set total = null %}
                {% for key, product in cart %}                                  {# the key to be able to count the products #}
                    <div class="row {% if key > 0 %}mt-2{%  endif %}">          {# Margin -top 2px if there are any items in the order summary #}
                        <div class="col-3 my-auto">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px">
                        </div> 
                        <div class="col-6"> 
                            {{ product.product.name }}<br>
                            <small>
                                {{ product.product.subtitle }}
                            <br>
                                X {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-3 my-auto">
                            {{ (product.product.price * product.quantity / 100) | number_format(2, ',', '.') }} €
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            
            <strong>Sous-total : </strong>{{ (total / 100)|number_format(2, ',', '.') }} € <br>         {# At each iteration, total + (price * quantity) #}
            <strong>Livraison : </strong>{{ (carrier.price / 100)|number_format(2, ',', '.') }} € 
            <hr>
            <strong>Total : </strong>{{ ((total / 100)+ (carrier.price / 100))|number_format(2, ',', '.') }} € <br>
        
            <a href="{{ path('stripe_create_session',{'reference':reference}) }}" class="button-design mt-3" id="checkout-button">Payer | {{ (((total)/100) + (carrier.price / 100))|number_format(2,',', '.') }}€</a>
        </div>
    </div>
{% endblock %}
