{% extends 'home/navBar.html.twig' %}

{% block title %} Valider ma commande - la Broudoute {% endblock %}

{% block content %}

    <div class="order-form-container">
        <h2>Passer ma commande</h2>
        <p>Choisissez vos préférences avant de passer votre commande sur la Broudoute</p>
        <hr>
        {% set formHtml %}
        {{ form_start(form, {action:path('order_recap')}) }}           {# Returns to the form of the add method of the OrderController #}
            {{ form_row(form.addresses)}}
                <div class="add-new-adress-link">
                    <a href="{{ path('account_address_add') }}">
                    Ou ajouter une nouvelle adresse</a>
                </div>
                {{ form_row(form.carriers)}}
            {{ form_end(form) }}
        {% endset %}

        {{ formHtml|replace({'[br]': '<br>'})|raw }}                   {# Replace the separate [br] in the function __toString() of the Adress entity #}
    </div>

{% endblock %}
 